.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #e72a2a;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  